body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
}

header{
    background-color: rgb(255, 236, 67);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}


p{
    font-size: 20px;
    font-style: italic;
    padding-left: 20px;
    margin: 0;
}

.booniuBox{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 10px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.booniuBox li{
    padding: 10px;
    text-align: center;
    aspect-ratio: 1/1;
}

.booniuBox img{
    width: 100%;
    height: auto;
    padding: 0px;
    text-align: center;
}

.booniu-large{
    margin: 50PX;
    text-align: center;
    padding: 0;
    position: relative;
}

.showcase-arrow{
    width: 80px;
    height: 100px;
    position: absolute;
    top: 50%;
    background-color: rgba(179, 97, 218, 0.479);
    margin-top: -30px;
    
    
}

.showcase-arrow-left{
    left: 0;
}

.showcase-arrow-right{
    right: 0;
}

.current-thumb{
    background-color: rgb(170, 107, 212);
    
}

.booniu-large img{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0px;
}

.buttonImg{
    text-align: center;

}

.pauseImg{
    margin-right: 25px;
    font-size: 30px;
    border: none;
    background-color:  rgb(170, 107, 212);
    border-radius: 3px;
    cursor: pointer;
}

.playImg{
    margin-left: 25px;
    font-size: 30px;
    border: none;
    background-color: rgb(170, 107, 212);
    border-radius: 3px;
    cursor: pointer;
}

.pauseImg:active{
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.playImg:active{
    transform: translateY(0);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.pauseImg:hover{
    background-color: rgb(138, 81, 177) ;
}

.playImg:hover{
    background-color: rgb(138, 81, 177) ;
}


nav ul{
    margin: 0;
    padding:20px;
    list-style: none;
    width: 100%;
    
}

nav ul li{
    margin:8px auto;
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-size: 20px;
}

nav ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}

nav ul li:last-child{
    border-bottom:none;
}

@media (min-width:768px) {
    header{
        background-color: rgb(149, 62, 230);
    }

    nav ul{
        flex-direction: row;
        justify-content: space-evenly;
        display: flex;
    }            

    nav ul li{
        font-display: none;
        color: black;
        border: none;
        margin: 10px;
        padding:0;
    }

}
@media (min-width:1024px) { 
    h1{
        font:bold;
        font-size: 30px;
        text-transform: uppercase;
        padding: 5px 20px 5px 20px;
        margin: 3px;
    }

    nav ul{
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
    }

    header{
        background-color: rgb(255, 152, 55);
    }

    nav ul li{
        font-weight: bold;
        color: black;
    
    }
}

@media (min-width:1440px) {
    header{
        background-color:rgb(77, 204, 255);
    }

    nav ul{
        flex-direction: row;
        justify-content: flex-start;
    }

    nav ul li{
        font-weight: bolder;
        font-style: italic;
        color: black;
        margin: 10px;
    }

    main h1{
        font-style: italic;
        text-transform: uppercase;
    }
    main p{
        font-style: italic;
        text-transform: uppercase;
    }

}
