html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.imgs{
  margin: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.explaining{
  text-transform: capitalize;
  text-align:center;
  word-wrap:break-word;
  overflow-wrap: break-word;
}
